<div class="modal modalMainAction fade" id="modalMainAction" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-container">
                <!-- img -->
                <div>
                    <img class="bg-absolute-img" src="assets/img/home/bg-modal.png" alt="...">
                </div>
                <!-- modal-body -->
                <div class="modal-body">
                    <div class="modal-top">
                        <a href="index.html">
                            <img class="site-logo" src="assets/img/logo/logo.svg" alt="">
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-heading">
                        <div class="modal-heading__title">Обсудим проект и&nbsp;предложим&nbsp;решение</div>
                        <div class="modal-heading__subtitle">Оставьте контакты — специалист АМД Медиа свяжется с вами, уточнит детали и подготовит точный расчет с понятным планом работ</div>
                    </div>
                    <div class="modal-form">
                        <!-- form -->
                        <form action="#">
                            <div class="d-grid grid-cols-1 gap-3">
                                <div class="col-span-1">
                                    <div class="d-flex flex-wrap align-items-center gap-2">
                                        <button type="button" class="btn btn-small btn-light active" data-bs-toggle="button">Телефон</button>
                                        <button type="button" class="btn btn-small btn-light" data-bs-toggle="button">Почта</button>
                                    </div>
                                </div>
                                <div class="col-span-1">
                                    <input type="text" class="form-control input-l maskPhone" placeholder="+7 (___) ___-__-__">
                                </div>
                                <div class="col-span-1">
                                    <input type="text" class="form-control input-l" placeholder="Ваше имя">
                                </div>
                                <div class="col-span-1">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="consultationCheck">
                                        <label class="form-check-label fs-x-small" for="consultationCheck">Я даю своё согласие на&nbsp;обработку персональных данных и&nbsp;соглашаюсь с&nbsp;<a href="#">политикой конфиденциальности</a></label>
                                    </div>
                                </div>
                                <div class="col-span-1">
                                    <a href="#" class="btn btn-primary w-100 disabled" disabled>Обсудить проект</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-bottom">
                        <div class="modal-bottom__title">Или напишите нам:</div>
                        <div class="modal-bottom__socials">
                            <a href="#" class="btn btn-social-modal btn-outline-primary">
                                <img class="inline-icon" src="assets/img/icons/social-color-max.svg" width="30" height="30" alt="MAX">
                                Макс
                            </a>
                            <a href="#" class="btn btn-social-modal btn-outline-primary">
                                <img class="inline-icon" src="assets/img/icons/social-color-vk.svg" width="30" height="30" alt="VK">
                                Вконтакте
                            </a>
                            <a href="#" class="btn btn-social-modal btn-outline-primary">
                                <img class="inline-icon" src="assets/img/icons/social-color-tg.svg" width="30" height="30" alt="Telegram">
                                Телеграм
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>