/*------------------------------------------------------------------
[ swiper ]*/

.swiper {
    --swiper-theme-color: var(--bs-primary);
}

.btn-swiper-prev,
.btn-swiper-next {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    border: 0;
    border-radius: 20px;
    background-color: var(--bs-light);

    @include media-breakpoint-up(lg) {
        border-radius: 40px;
    }

    @include media-breakpoint-up(xxl) {
        border-radius: 60px;
    }
}

.swiperReviews {
    .swiper-slide {
        width: 100%;
        height: auto;
    }

    .cardReview {
        height: 100%;
    }

    @include media-breakpoint-up(xl) {
        .swiper-slide {
            width: 720px;
        }
    }

    @include media-breakpoint-up(xxl) {
        .swiper-slide {
            width: 760px;
        }
    }

    @include media-breakpoint-up(xxxl) {
        .swiper-slide {
            width: 840px;
        }
    }
}

.swiperReviews-area {
    .swiperReviews-navigation {
        display: flex;
        gap: 4px;
        width: 100%;
    }

    .btn-swiper-prev,
    .btn-swiper-next {
        height: 86px;
    }
    
    .swiper-counter {
        font: normal 500 11px / 1.5 var(--ff-title);
        letter-spacing: -0.04em;
        white-space: nowrap;
        color: #B8CBB8;
        border-radius: 20px;
        padding: 20px 30px;
        background-color: var(--bs-light);

        .current {
            color: var(--bs-body-color);
        }
    }

    @include media-breakpoint-up(sm) {
        .btn-swiper-prev,
        .btn-swiper-next {
            height: 116px;
        }

        .swiper-counter {
            border-radius: 40px;
        }
    }

    @include media-breakpoint-up(lg) {
        .btn-swiper-prev,
        .btn-swiper-next {
            height: 135px;
        }
    }

    @include media-breakpoint-up(xl) {
        .btn-swiper-prev,
        .btn-swiper-next {
            height: 160px;
        }

        .swiper-counter {
            font-size: 14px;
        }
    }

    @include media-breakpoint-up(xxl) {
        .btn-swiper-prev,
        .btn-swiper-next {
            height: 200px;
        }

        .swiper-counter {
            font-size: 16px;
        }
    }

    @include media-breakpoint-up(xxxl) {
        .swiper-counter {
            font-size: 20px;
        }
    }
}
