<section class="section section-cloverReviews">
    <div class="section__anchor" id="cloverReviews"></div>

    <div class="container-fluid">
        <div class="section__header">
            <h2 class="section__title">Нас&nbsp;благодарят<br> <span class="text-accent">— мы&nbsp;краснеем, но&nbsp;показываем</span></h2>
            <!-- yandex widget -->
            <div class="d-flex gap-1">
                <div class="rounded-wrap rounded-4 py-5 px-8">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="36" viewBox="0 0 24 36" fill="none">
                        <path d="M24 36H17.6926V4.86593H14.876C9.71901 4.86593 7.02149 7.43736 7.02149 11.2747C7.02149 15.6264 8.88595 17.644 12.7339 20.2154L15.9074 22.3516L6.78347 36H0L8.21157 23.8154C3.49091 20.4527 0.833058 17.1692 0.833058 11.6308C0.833058 4.70769 5.67273 0 14.8364 0H23.9603V36H24Z" fill="#001D00"/>
                    </svg>
                </div>
                <div class="rounded-wrap rounded-4 d-flex flex-column align-items-center gap-1 py-5 px-8">
                    <div class="d-flex align-items-center gap-2">
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M7.6084 0L9.40451 5.52786H15.2169L10.5146 8.94427L12.3107 14.4721L7.6084 11.0557L2.90612 14.4721L4.70223 8.94427L-5.38826e-05 5.52786H5.81229L7.6084 0Z" fill="#001D00"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M7.6084 0L9.40451 5.52786H15.2169L10.5146 8.94427L12.3107 14.4721L7.6084 11.0557L2.90612 14.4721L4.70223 8.94427L-5.38826e-05 5.52786H5.81229L7.6084 0Z" fill="#001D00"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M7.6084 0L9.40451 5.52786H15.2169L10.5146 8.94427L12.3107 14.4721L7.6084 11.0557L2.90612 14.4721L4.70223 8.94427L-5.38826e-05 5.52786H5.81229L7.6084 0Z" fill="#001D00"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                                <path d="M7.6084 0L9.40451 5.52786H15.2169L10.5146 8.94427L12.3107 14.4721L7.6084 11.0557L2.90612 14.4721L4.70223 8.94427L-5.38826e-05 5.52786H5.81229L7.6084 0Z" fill="#001D00"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <path opacity="0.4" d="M8 0.5L9.79611 6.02786H15.6085L10.9062 9.44427L12.7023 14.9721L8 11.5557L3.29772 14.9721L5.09383 9.44427L0.391548 6.02786H6.20389L8 0.5Z" fill="#001D00"/>
                                <g clip-path="url(#clip0_768_67)">
                                    <path d="M8 0.5L9.79611 6.02786H15.6085L10.9062 9.44427L12.7023 14.9721L8 11.5557L3.29772 14.9721L5.09383 9.44427L0.391548 6.02786H6.20389L8 0.5Z" fill="#001D00"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_768_67">
                                        <rect width="10" height="17" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <span>4.7</span>
                    </div>
                    <div class="text-body text-opacity-60">31 оценка</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid pe-xl-0">
        <div class="section__body">
            <div class="swiperReviews-area">
                <div class="reviews-grid">
                    <!-- swiper -->
                    <div class="swiper swiperReviews">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="card cardReview">
                                    <div class="card-body">
                                        <div>
                                            <div class="card-title">ООО «НЕОДОМ»</div>
                                            <div class="card-text-box">Хотим выразить нашу искреннюю благодарность за вашу великолепную работу по созданию и комплексному SEO-продвижению сайта Neodom. С самого начала нашего сотрудничества вы проявили высокий уровень профессионализма и сумели найти индивидуальный подход к нашим потребностям. Особенно приятно было видеть, как оперативно и тщательно вы подходили к каждому этапу разработки. Все наши пожелания были учтены, и благодаря вашим идеям сайт стал не только функциональным, но и по-настоящему красивым. Ваше внимание к деталям и стремление сделать всё наилучшим образом действительно впечатлили.</div>
                                        </div>
                                        <div class="d-flex align-items-end justify-content-between mt-9">
                                            <div class="d-flex flex-column gap-1">
                                                <div class="card-author-name">Романьков А.В.</div>
                                                <div class="card-author-job">Генеральный директор</div>
                                            </div>
                                            <div class="card-thumb-wrap">
                                                <a href="#">
                                                    <img class="card-thumb-img" src="assets/img/home/review-neodom-thumb.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card cardReview">
                                    <div class="card-body">
                                        <div>
                                            <div class="card-title">ОАО «Завод имени В.А. Дегтярева»</div>
                                            <div class="card-text-box">Выражаем искреннюю признательность и благодарность коллективу веб-студии "АМД Медиа" и лично Латыпову А.Р. за техническую поддержку и адаптацию каталога продукции на французский язык...</div>
                                        </div>
                                        <div class="d-flex align-items-end justify-content-between mt-9">
                                            <div class="d-flex flex-column gap-1">
                                                <div class="card-author-name">Мандельштам В.Г.</div>
                                                <div class="card-author-job">Начальник управления продаж продукции ОАО «ЗиД»</div>
                                            </div>
                                            <div class="card-thumb-wrap">
                                                <a href="#">
                                                    <img class="card-thumb-img" src="assets/img/home/review-mesee-thumb.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card cardReview">
                                    <div class="card-body">
                                        <div>
                                            <div class="card-title">Test</div>
                                            <div class="card-text-box">Выражаем искреннюю признательность и благодарность коллективу веб-студии "АМД Медиа" и лично Латыпову А.Р. за техническую поддержку и адаптацию каталога продукции на французский язык...</div>
                                        </div>
                                        <div class="d-flex align-items-end justify-content-between mt-9">
                                            <div class="d-flex flex-column gap-1">
                                                <div class="card-author-name">Мандельштам В.Г.</div>
                                                <div class="card-author-job">Начальник управления продаж продукции ОАО «ЗиД»</div>
                                            </div>
                                            <div class="card-thumb-wrap">
                                                <a href="#">
                                                    <img class="card-thumb-img" src="assets/img/home/review-mesee-thumb.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- navigation -->
                    <div class="d-flex flex-row flex-lg-column align-items-start justify-content-between gap-1 order-lg-first">
                        <!-- counter -->
                        <div class="swiper-counter">
                            <span class="current">1</span> - <span class="total">10</span>
                        </div>
                        <!-- navigation -->
                        <div class="swiperReviews-navigation">
                            <button type="button" class="btn-swiper-prev" aria-label="Предыдущий слайд">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                <g clip-path="url(#clip0_768_93)">
                                <path d="M0.479507 13.8343L11.3136 3.00002C11.6228 2.69075 12.035 2.521 12.4745 2.521C12.9145 2.521 13.3265 2.69099 13.6357 3.00002L14.6194 3.98391C14.9284 4.29269 15.0987 4.70512 15.0987 5.14488C15.0987 5.58439 14.9284 6.01072 14.6194 6.3195L8.29896 12.6538L28.3793 12.6538C29.2846 12.6538 30 13.3626 30 14.2682V15.6592C30 16.5648 29.2846 17.345 28.3793 17.345H8.22725L14.6192 23.7147C14.9282 24.024 15.0984 24.4252 15.0984 24.865C15.0984 25.3042 14.9282 25.7113 14.6192 26.0203L13.6355 27.001C13.3262 27.3103 12.9143 27.4788 12.4743 27.4788C12.0348 27.4788 11.6226 27.3081 11.3133 26.9988L0.479265 16.1648C0.169268 15.8545 -0.0012188 15.4404 1.90735e-06 15.0002C-0.000974655 14.5585 0.169268 14.1441 0.479507 13.8343Z" fill="#001D00"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_768_93">
                                <rect width="30" height="30" fill="white" transform="matrix(-1 0 0 1 30 0)"/>
                                </clipPath>
                                </defs>
                                </svg>
                            </button>
                            <button type="button" class="btn-swiper-next" aria-label="Следующий слайд">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                                <g clip-path="url(#clip0_768_97)">
                                <path d="M29.5205 13.8343L18.6864 3.00002C18.3772 2.69075 17.965 2.521 17.5255 2.521C17.0855 2.521 16.6735 2.69099 16.3643 3.00002L15.3806 3.98391C15.0716 4.29269 14.9013 4.70512 14.9013 5.14488C14.9013 5.58439 15.0716 6.01072 15.3806 6.3195L21.701 12.6538L1.62072 12.6538C0.71536 12.6538 0 13.3626 0 14.2682L0 15.6592C0 16.5648 0.71536 17.345 1.62072 17.345H21.7727L15.3808 23.7147C15.0718 24.024 14.9016 24.4252 14.9016 24.865C14.9016 25.3042 15.0718 25.7113 15.3808 26.0203L16.3645 27.001C16.6738 27.3103 17.0857 27.4788 17.5257 27.4788C17.9652 27.4788 18.3774 27.3081 18.6867 26.9988L29.5207 16.1648C29.8307 15.8545 30.0012 15.4404 30 15.0002C30.001 14.5585 29.8307 14.1441 29.5205 13.8343Z" fill="#001D00"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_768_97">
                                <rect width="30" height="30" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>