<section class="section section-cloverFaq">
    <div class="section__anchor" id="cloverFaq"></div>
    <div class="container-fluid">

        <div class="section__header">
            <h2 class="section__title wow img-custom-anim-left">Вопросы <span class="text-accent">на которые у нас</span> есть ответы</h2>
        </div>

        <div class="section__body">
            <!-- faq -->
            <div class="faq-grid">
                <!-- col -->
                <div class="rounded-wrap video-wrap wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
                    <!-- <img class="bg-video" src="assets/img/video/faq.webp" loading="lazy" alt=""> -->
                    <video
                        class="video-shape"
                        data-decor-video="once"
                        muted
                        playsinline
                        preload="metadata"
                        aria-hidden="true"
                    >
                        <source src="assets/img/video/faq.webm" type="video/webm">
                        <source src="assets/img/video/faq.mp4" type="video/mp4">
                    </video>
                </div>
                <!-- col -->
                <!-- accordion -->
                <div class="accordion accordionFaq" id="accordionFaq">
                    <!-- item -->
                    <div class="accordion-item rounded-wrap wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-1" aria-expanded="true">
                                <span class="btn-text">Что входит в бесплатный аудит?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-1" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Если&nbsp;сайт есть, реклама крутится, соцсети иногда оживают, а&nbsp;заявки всё&nbsp;равно приходят как&nbsp;редкие гости на&nbsp;даче&nbsp;— скорее всего, проблема не&nbsp;в&nbsp;одном элементе. Мы&nbsp;смотрим на&nbsp;весь путь клиента: от&nbsp;первого касания до&nbsp;заявки. Иногда нужно подкрутить сайт, иногда&nbsp;— аналитику, рекламу или&nbsp;контент. А&nbsp;чаще всего&nbsp;— связать всё&nbsp;это&nbsp;в&nbsp;одну систему, чтобы&nbsp;рост был&nbsp;не&nbsp;на&nbsp;удачу, а&nbsp;по&nbsp;плану.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item rounded-wrap wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-2" aria-expanded="false">
                                <span class="btn-text">А если рекламы нет вообще — вы поможете запуститься с нуля?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-2" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Если&nbsp;сайт есть, реклама крутится, соцсети иногда оживают, а&nbsp;заявки всё&nbsp;равно приходят как&nbsp;редкие гости на&nbsp;даче&nbsp;— скорее всего, проблема не&nbsp;в&nbsp;одном элементе. Мы&nbsp;смотрим на&nbsp;весь путь клиента: от&nbsp;первого касания до&nbsp;заявки. Иногда нужно подкрутить сайт, иногда&nbsp;— аналитику, рекламу или&nbsp;контент. А&nbsp;чаще всего&nbsp;— связать всё&nbsp;это&nbsp;в&nbsp;одну систему, чтобы&nbsp;рост был&nbsp;не&nbsp;на&nbsp;удачу, а&nbsp;по&nbsp;плану.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item rounded-wrap wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-3" aria-expanded="false">
                                <span class="btn-text">Как вы понимаете, какие каналы продвижения подойдут бизнесу?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-3" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Если&nbsp;сайт есть, реклама крутится, соцсети иногда оживают, а&nbsp;заявки всё&nbsp;равно приходят как&nbsp;редкие гости на&nbsp;даче&nbsp;— скорее всего, проблема не&nbsp;в&nbsp;одном элементе. Мы&nbsp;смотрим на&nbsp;весь путь клиента: от&nbsp;первого касания до&nbsp;заявки. Иногда нужно подкрутить сайт, иногда&nbsp;— аналитику, рекламу или&nbsp;контент. А&nbsp;чаще всего&nbsp;— связать всё&nbsp;это&nbsp;в&nbsp;одну систему, чтобы&nbsp;рост был&nbsp;не&nbsp;на&nbsp;удачу, а&nbsp;по&nbsp;плану.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item rounded-wrap wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-4" aria-expanded="false">
                                <span class="btn-text">Сколько времени занимает разработка сайта?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-4" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Если&nbsp;сайт есть, реклама крутится, соцсети иногда оживают, а&nbsp;заявки всё&nbsp;равно приходят как&nbsp;редкие гости на&nbsp;даче&nbsp;— скорее всего, проблема не&nbsp;в&nbsp;одном элементе. Мы&nbsp;смотрим на&nbsp;весь путь клиента: от&nbsp;первого касания до&nbsp;заявки. Иногда нужно подкрутить сайт, иногда&nbsp;— аналитику, рекламу или&nbsp;контент. А&nbsp;чаще всего&nbsp;— связать всё&nbsp;это&nbsp;в&nbsp;одну систему, чтобы&nbsp;рост был&nbsp;не&nbsp;на&nbsp;удачу, а&nbsp;по&nbsp;плану.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item rounded-wrap wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-5" aria-expanded="false">
                                <span class="btn-text">Вы работаете с интернет-магазинами?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-5" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Если&nbsp;сайт есть, реклама крутится, соцсети иногда оживают, а&nbsp;заявки всё&nbsp;равно приходят как&nbsp;редкие гости на&nbsp;даче&nbsp;— скорее всего, проблема не&nbsp;в&nbsp;одном элементе. Мы&nbsp;смотрим на&nbsp;весь путь клиента: от&nbsp;первого касания до&nbsp;заявки. Иногда нужно подкрутить сайт, иногда&nbsp;— аналитику, рекламу или&nbsp;контент. А&nbsp;чаще всего&nbsp;— связать всё&nbsp;это&nbsp;в&nbsp;одну систему, чтобы&nbsp;рост был&nbsp;не&nbsp;на&nbsp;удачу, а&nbsp;по&nbsp;плану.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item rounded-wrap wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-6" aria-expanded="false">
                                <span class="btn-text">Можно ли заказать только рекламу без сайта?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-6" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Если&nbsp;сайт есть, реклама крутится, соцсети иногда оживают, а&nbsp;заявки всё&nbsp;равно приходят как&nbsp;редкие гости на&nbsp;даче&nbsp;— скорее всего, проблема не&nbsp;в&nbsp;одном элементе. Мы&nbsp;смотрим на&nbsp;весь путь клиента: от&nbsp;первого касания до&nbsp;заявки. Иногда нужно подкрутить сайт, иногда&nbsp;— аналитику, рекламу или&nbsp;контент. А&nbsp;чаще всего&nbsp;— связать всё&nbsp;это&nbsp;в&nbsp;одну систему, чтобы&nbsp;рост был&nbsp;не&nbsp;на&nbsp;удачу, а&nbsp;по&nbsp;плану.</p>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                    <div class="accordion-item rounded-wrap wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="accordion-header">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#faq-answer-7" aria-expanded="false">
                                <span class="btn-text">Что будет, если у нас уже есть подрядчик по рекламе?</span>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div id="faq-answer-7" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                            <div class="accordion-body">
                                <p>Если&nbsp;сайт есть, реклама крутится, соцсети иногда оживают, а&nbsp;заявки всё&nbsp;равно приходят как&nbsp;редкие гости на&nbsp;даче&nbsp;— скорее всего, проблема не&nbsp;в&nbsp;одном элементе. Мы&nbsp;смотрим на&nbsp;весь путь клиента: от&nbsp;первого касания до&nbsp;заявки. Иногда нужно подкрутить сайт, иногда&nbsp;— аналитику, рекламу или&nbsp;контент. А&nbsp;чаще всего&nbsp;— связать всё&nbsp;это&nbsp;в&nbsp;одну систему, чтобы&nbsp;рост был&nbsp;не&nbsp;на&nbsp;удачу, а&nbsp;по&nbsp;плану.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>