<section class="section section-cloverHero">
    <div class="container-fluid">

        <div class="rounded-wrap">
    
            <!-- video -->
            <div class="video-shape-wrapper">
                <!-- <img class="video-shape" src="assets/img/video/hero-1.webp" loading="lazy" alt=""> -->
                <video
                    class="video-shape"
                    data-decor-video="loop"
                    autoplay
                    muted
                    playsinline
                    loop
                    preload="auto"
                    aria-hidden="true"
                >
                    <source src="assets/img/video/hero-1-1.webm" type="video/webm">
                    <source src="assets/img/video/hero-1-1.mp4" type="video/mp4">
                </video>
            </div>

            <div class="position-relative d-flex flex-column justify-content-between justify-content-xl-start h-100">

                <div>
                    <h1 class="hero-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                        <span>Никакой</span><br>
                        <span> магии - только</span><br>
                        <span> </span>
                        <span class="text-through" data-strike data-animation-duration="0.45s" data-animation-delay="2.5s">удача</span><br class="d-md-none">
                        <span class="text-accent" data-typewriter data-animation-duration="0.75s" data-animation-delay="3.5s"> система</span>
                    </h1>
                    <div class="hero-subtitle wow img-custom-anim-left" data-wow-duration="1s" data-wow-delay="1s">Аудит, разработка, продвижение и развитие бизнеса — четыре блока, которые дают предсказуемый результат</div>
                </div>
    
                <div class="d-none d-md-block">
                    <div class="hero-tags clover-tags wow img-custom-anim-left" data-wow-duration="1s" data-wow-delay="1.5s">
                        <span class="clover-tag">#Разработка сайтов</span>
                        <span class="clover-tag">#Электронная коммерция</span>
                        <span class="clover-tag">#Для B2B и B2C проектов</span>
                        <span class="clover-tag">#Индивидуальная разработка под ключ</span>
                        <span class="clover-tag">#ПРОДВИЖЕНИЕ И АНАЛИТИКА</span>
                        <span class="clover-tag">#Аудит и масштабирование</span>
                        <span class="clover-tag">#Уникальный дизайн</span>
                        <span class="clover-tag">#Прототипы и интерфейсы</span>
                        <span class="clover-tag">#Поддержка и развитие</span>
                        <span class="clover-tag">#Автоматизация</span>
                    </div>
                </div>

            </div>

            <!-- arrow-down -->
            <div class="hero-arrow-down">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <g clip-path="url(#clip0_632_316)">
                <path d="M21.5523 39.3607L35.998 24.9152C36.4104 24.5029 36.6367 23.9533 36.6367 23.3673C36.6367 22.7806 36.4101 22.2314 35.998 21.819L34.6862 20.5075C34.2745 20.0954 33.7245 19.8685 33.1382 19.8685C32.5522 19.8685 31.9837 20.0954 31.572 20.5075L23.1263 28.9347V2.16096C23.1263 0.953813 22.1812 0 20.9738 0L19.1191 0C17.9117 0 16.8714 0.953813 16.8714 2.16096L16.8714 29.0303L8.37841 20.5078C7.96606 20.0958 7.4311 19.8688 6.84476 19.8688C6.25908 19.8688 5.71632 20.0958 5.30429 20.5078L3.99666 21.8193C3.5843 22.2317 3.35959 22.781 3.35959 23.3676C3.35959 23.9536 3.58723 24.5032 3.99958 24.9156L18.445 39.361C18.8587 39.7743 19.4108 40.0016 19.9978 40C20.5868 40.0013 21.1393 39.7743 21.5523 39.3607Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_632_316">
                <rect width="40" height="40" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            </div>

            <div class="side-title">Digital-Агентство</div>
    
        </div>
    
        <!-- mobile tags -->
        <div class="d-md-none">
            <div class="hero-tags clover-tags">
                <span class="clover-tag">#Разработка сайтов</span>
                <span class="clover-tag">#Электронная коммерция</span>
                <span class="clover-tag">#Для B2B и B2C проектов</span>
                <span class="clover-tag">#Индивидуальная разработка под ключ</span>
                <span class="clover-tag">#ПРОДВИЖЕНИЕ И АНАЛИТИКА</span>
                <span class="clover-tag">#Аудит и масштабирование</span>
                <span class="clover-tag">#Уникальный дизайн</span>
                <span class="clover-tag">#Прототипы и интерфейсы</span>
                <span class="clover-tag">#Поддержка и развитие</span>
                <span class="clover-tag">#Автоматизация</span>
            </div>
        </div>

    </div>
</section>