<section class="section section-cloverProjects">
    <div class="section__anchor" id="cloverProjects"></div>
    <div class="container-fluid">

        <div class="section__header">
            <h2 class="section__title">Проекты, <span class="text-accent">где система уже работает</span></h2>
        </div>

        <div class="section__body">
            <div class="accordion accordionProjects" id="accordionProjects">
                <!-- item -->
                <div class="accordion-item rounded-wrap">
                    <div class="accordion-header">
                        <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#project-1" aria-expanded="true">
                            <div class="accordion-item__count">1</div>
                            <div class="d-flex align-items-center gap-4 gap-xl-10">
                                <div class="d-flex flex-wrap align-items-center gap-2 gap-lg-6">
                                    <div class="accordion-item__category clover-tag">Интернет-магазин</div>
                                    <div class="accordion-item__title">Плитка и обои</div>
                                </div>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </div>
                    <div id="project-1" class="accordion-collapse collapse show" data-bs-parent="#accordionProjects">
                        <div class="accordion-body">
                            <div class="row gy-7">
                                <div class="col-xl-14">
                                    <div class="d-flex flex-column justify-content-end h-100">
                                        <img class="accordion-item__image" src="assets/img/home/project-1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-10">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <div class="accordion-content">
                                            <p>С нуля спроектировали e-commerce для продажи плитки и обоев, где сайт, SEO, аналитика и внутренние системы работают в одной связке</p>
                                            <hr>
                                            <p>Продумали структуру каталога, UX/UI и пользовательский путь, настроили генерацию тысяч SEO-страниц, подключили аналитику и A/B-тесты. Интегрировали сайт с ERP/CRM, чтобы данные по товарам, заявкам и заказам корректно передавались между системами</p>
                                            <hr>
                                            <p>В результате сайт продвинулся по 8 000+ запросов в Яндексе и Google и стал не просто витриной, а полноценным инструментом продаж</p>
                                        </div>
                                        <a href="#" class="btn btn-big btn-outline-primary w-100 mt-6">masterdom.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="accordion-item rounded-wrap">
                    <div class="accordion-header">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-2" aria-expanded="false">
                            <div class="accordion-item__count">2</div>
                            <div class="d-flex align-items-center gap-4 gap-xl-10">
                                <div class="d-flex flex-wrap align-items-center gap-2 gap-lg-6">
                                    <div class="accordion-item__category clover-tag">B2B-маркетплейс</div>
                                    <div class="accordion-item__title">Промышленное оборудование</div>
                                </div>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </div>
                    <div id="project-2" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
                        <div class="accordion-body">
                            <div class="row gy-7">
                                <div class="col-xl-14">
                                    <div class="d-flex flex-column justify-content-end h-100">
                                        <img class="accordion-item__image" src="assets/img/home/project-2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-10">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <div class="accordion-content">
                                            <p>Разработали интернет-платформу для продажи специализированного промышленного оборудования, где каталог, карточки товаров и заявки собраны в понятный путь для B2B-аудитории</p>
                                            <hr>
                                            <p>Продумали структуру ресурса, логику размещения объявлений, удобную навигацию и интуитивный интерфейс</p>
                                            <hr>
                                            <p>В результате платформа стала не просто каталогом, а рабочим инструментом продаж: за квартал сайт получил <b>+57% ключевых пользователей</b> из поиска, за месяц добавили +120 карточек товара, а <b>количество заявок выросло в 2 раза</b></p>
                                        </div>
                                        <a href="#" class="btn btn-big btn-outline-primary w-100 mt-6">mesee.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="accordion-item rounded-wrap">
                    <div class="accordion-header">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-3" aria-expanded="false">
                            <div class="accordion-item__count">3</div>
                            <div class="d-flex align-items-center gap-4 gap-xl-10">
                                <div class="d-flex flex-wrap align-items-center gap-2 gap-lg-6">
                                    <div class="accordion-item__category clover-tag">Интернет-магазин</div>
                                    <div class="accordion-item__title">Косметика для кудрявых</div>
                                </div>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </div>
                    <div id="project-3" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
                        <div class="accordion-body">
                            <div class="row gy-7">
                                <div class="col-xl-14">
                                    <div class="d-flex flex-column justify-content-end h-100">
                                        <img class="accordion-item__image" src="assets/img/home/project-3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-10">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <div class="accordion-content">
                                            <p>Интернет-магазин бренда уходовой косметики и полезных товаров для кудрявых волос, где каталог, контент и покупательский путь работают как единая e-commerce-система</p>
                                            <hr>
                                            <p>Усилили сайт контентными разделами, советами по уходу, тестом для определения типа волос, подарочными сертификатами и скидочными механиками</p>
                                            <hr>
                                            <p>В результате получился не просто онлайн-каталог косметики, а полноценный интернет-магазин для комьюнити кудрявых</p>
                                        </div>
                                        <a href="#" class="btn btn-big btn-outline-primary w-100 mt-6">curlshop.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item -->
                <div class="accordion-item rounded-wrap">
                    <div class="accordion-header">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-4" aria-expanded="false">
                            <div class="accordion-item__count">4</div>
                            <div class="d-flex align-items-center gap-4 gap-xl-10">
                                <div class="d-flex flex-wrap align-items-center gap-2 gap-lg-6">
                                    <div class="accordion-item__category clover-tag">Интернет-магазин</div>
                                    <div class="accordion-item__title">Ювелирные украшения</div>
                                </div>
                                <span class="accordion-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                        <path d="M34.7909 32.5908L34.7911 12.1616C34.7911 11.5785 34.5625 11.0298 34.1482 10.6155C33.7333 10.2006 33.1847 9.97251 32.6017 9.97228L30.7467 9.97251C30.1643 9.97228 29.6149 10.2006 29.2003 10.6152C28.7859 11.0296 28.5445 11.5921 28.5447 12.1745L28.5316 24.1056L9.59969 5.17365C8.74611 4.32007 7.40342 4.31386 6.54961 5.16767L5.2382 6.47908C4.38439 7.33289 4.32322 8.74296 5.1768 9.59654L24.1763 28.5961L12.1446 28.5751C11.5616 28.5754 11.0229 28.7931 10.6083 29.2077C10.1941 29.6219 9.97083 30.1662 9.97083 30.7489L9.97359 32.6009C9.97359 33.184 10.2031 33.7313 10.6179 34.1462C11.0323 34.5605 11.5819 34.7882 12.165 34.7882H32.5939C33.1787 34.788 33.7299 34.5582 34.1438 34.142C34.5612 33.7265 34.7913 33.1753 34.7909 32.5908Z" fill="#001D00"/>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </div>
                    <div id="project-4" class="accordion-collapse collapse" data-bs-parent="#accordionProjects">
                        <div class="accordion-body">
                            <div class="row gy-7">
                                <div class="col-xl-14">
                                    <div class="d-flex flex-column justify-content-end h-100">
                                        <img class="accordion-item__image" src="assets/img/home/project-4.png" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-10">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <div class="accordion-content">
                                            <p>Сделали интернет-магазин ювелирных украшений, который ощущается не как сухой каталог, а как онлайн-продолжение бутика: с красивой подачей изделий и удобным поиском</p>
                                            <hr>
                                            <p>Добавили промокоды, скидки, подарочные сертификаты, рейтинг товаров, доставку через СДЭК и интеграцию с 1С, чтобы ассортимент, заказы и клиентская база обновлялись без лишней ручной работы</p>
                                            <hr>
                                            <p>В результате сайт стал заметно эффективнее как канал продаж: <b>трафик вырос в 1,9 раза</b>, отказы снизились на 9%, <b>глубина просмотров увеличилась на 18%</b>, а показатель поисковой оптимизации по PageSpeed достиг 91%</p>
                                        </div>
                                        <a href="#" class="btn btn-big btn-outline-primary w-100 mt-6">gfitalia.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>