<section class="section section-cloverSystem">
    <div class="section__anchor" id="cloverSystem"></div>
    <div class="container-fluid">

        <div class="section__header">
            <h2 class="section__title wow img-custom-anim-left">Система роста интернет-продаж «Клевер» <span class="text-accent">от&nbsp;АМД&nbsp;Медиа</span></h2>
            <div class="section__subtitle wow img-custom-anim-left" data-wow-duration="1.5s" data-wow-delay="0.1s">Не&nbsp;отдельные услуги, а&nbsp;единая система привлечения клиентов, где&nbsp;стратегия, разработка, продвижение и&nbsp;улучшение проекта работают вместе на&nbsp;общий результат</div>
        </div>
    
        <div class="section__body">
            <!-- <img class="video-shape" src="assets/img/video/system.webp" loading="lazy" alt=""> -->
            <video
                class="video-shape"
                data-decor-video="once"
                muted
                playsinline
                preload="metadata"
                aria-hidden="true"
            >
                <source src="assets/img/video/system.webm" type="video/webm">
                <source src="assets/img/video/system.mp4" type="video/mp4">
            </video>

            <div class="d-grid grid-cols-1 grid-cols-lg-2 gap-1">
                <!-- card -->
                <div class="card cardSystem">
                    <div class="card-body">
                        <div class="card-heading">
                            <div class="card-title">1.Аудит</div>
                            <div class="card-text-box">Сначала разбираемся, что&nbsp;уже&nbsp;есть&nbsp;и&nbsp;где&nbsp;система теряет заявки:</div>
                            <div class="card-tags clover-tags">
                                <span class="clover-tag">аудит сайта, рекламы, соцсетей, SEO</span>
                                <span class="clover-tag">анализ конкурентов</span>
                                <span class="clover-tag">поиск точек роста</span>
                                <span class="clover-tag">исследование аудитории</span>
                                <span class="clover-tag">план действий</span>
                                <span class="clover-tag">стратегия продвижения</span>
                                <span class="clover-tag">стратегия развития</span>
                            </div>
                            <div class="card-description">В&nbsp;результате у&nbsp;вас&nbsp;появится понятная карта проблем и&nbsp;точек роста, с&nbsp;которой можно двигаться не&nbsp;на&nbsp;ощущениях, а&nbsp;по&nbsp;стратегии</div>
                        </div>
                        <a href="#" class="btn btn-big btn-outline-primary w-100">Начать с бесплатного аудита</a>
                    </div>
                    <img class="bg-shape" src="assets/img/home/system-ico-1.png" alt="">
                </div>
                <!-- card -->
                <div class="card cardSystem">
                    <div class="card-body">
                        <div class="card-heading">
                            <div class="card-title">2.Разработка</div>
                            <div class="card-text-box">Создаем сайты и сервисы, которые превращают посетителей в клиентов:</div>
                            <div class="card-tags clover-tags">
                                <span class="clover-tag">Лендинги</span>
                                <span class="clover-tag">Корпоративные сайты</span>
                                <span class="clover-tag">Электронная коммерция</span>
                                <span class="clover-tag">сферы услуг</span>
                                <span class="clover-tag">SAAS Продукты</span>
                                <span class="clover-tag">Мобильные приложения</span>
                                <span class="clover-tag">B2B / B2C проекты</span>
                                <span class="clover-tag">CRM</span>
                                <span class="clover-tag">Интеграции с Системами учета, доставки и оплаты</span>
                            </div>
                            <div class="card-description">На&nbsp;выходе вы&nbsp;получаете инструмент продаж, который поможет вам&nbsp;заполучить доверие, заявки и&nbsp;продажи в&nbsp;онлайн-среде</div>
                        </div>
                        <a href="#" class="btn btn-big btn-outline-primary w-100">СОЗДАТЬ ПРОЕКТ</a>
                    </div>
                    <img class="bg-shape" src="assets/img/home/system-ico-2.png" alt="">
                </div>
                <!-- card -->
                <div class="card cardSystem">
                    <div class="card-body">
                        <div class="card-heading">
                            <div class="card-title">3.Продвижение</div>
                            <div class="card-text-box">Продвижение для нас — это не набор отдельных метрик, а связка сайта, трафика, позиций, конверсий и аналитики, которая помогает растить заявки и продажи</div>
                            <div class="card-tags clover-tags">
                                <span class="clover-tag">SEO</span>
                                <span class="clover-tag">контекст</span>
                                <span class="clover-tag">таргет</span>
                                <span class="clover-tag">соцсети</span>
                                <span class="clover-tag">контент-маркетинг</span>
                                <span class="clover-tag">веб-аналитика</span>
                                <span class="clover-tag">Улучшение сайта</span>
                                <span class="clover-tag">тестирование гипотез</span>
                                <span class="clover-tag">маркетинговые рекомендации</span>
                                <span class="clover-tag">повышение конверсии</span>
                            </div>
                            <div class="card-description">Вы понимаете, какие каналы приводят заявки, что нужно усилить на сайте и куда направлять бюджет, чтобы продвижение работало на продажи</div>
                        </div>
                        <a href="#" class="btn btn-big btn-outline-primary w-100">Привести клиентов</a>
                    </div>
                    <img class="bg-shape" src="assets/img/home/system-ico-3.png" alt="">
                </div>
                <!-- card -->
                <div class="card cardSystem">
                    <div class="card-body">
                        <div class="card-heading">
                            <div class="card-title">4.Развитие</div>
                            <div class="card-text-box">После&nbsp;запуска - система не&nbsp;остаётся без&nbsp;внимания: мы анализируем, тестируем гипотезы, улучшаем сайт и&nbsp;усиливаем то, что&nbsp;уже&nbsp;работает</div>
                            <div class="card-tags clover-tags">
                                <span class="clover-tag">сопровождение сайта</span>
                                <span class="clover-tag">регулярные рекомендации</span>
                                <span class="clover-tag">доработки</span>
                                <span class="clover-tag">аналитика</span>
                                <span class="clover-tag">Безопасность</span>
                                <span class="clover-tag">обновление контента</span>
                                <span class="clover-tag">развитие стратегии</span>
                                <span class="clover-tag">улучшение пользовательского опыта</span>
                            </div>
                            <div class="card-description">Так у вас появляется живая система, которая постепенно становится точнее, понятнее и эффективнее</div>
                        </div>
                        <a href="#" class="btn btn-big btn-outline-primary w-100">Усилить систему</a>
                    </div>
                    <img class="bg-shape" src="assets/img/home/system-ico-4.png" alt="">
                </div>
            </div>
        </div>

    </div>
</section>