<section class="section section-cloverFeatures">
    <div class="container-fluid">

        <div class="section__header">
            <h2 class="section__title wow img-custom-anim-left">Сайт, реклама и&nbsp;соцсети <span class="text-accent">не&nbsp;работают по&nbsp;отдельности</span></h2>
        </div>
        
        <div class="section__body">
            <div class="d-flex flex-column gap-1">
                <div class="row gx-0">
                    <div class="col-md-12 col-xxxxl-10">
                        <div class="card cardFeature wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
                            <div class="card-body">
                                <img class="card-icon" src="assets/img/icons/feature-1.svg" alt="">
                                <div class="card-text-box">Красивый сайт сам&nbsp;по&nbsp;себе не&nbsp;продаёт, если&nbsp;пользователю непонятно, зачем оставлять заявку</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0">
                    <div class="col-md-12 offset-md-4 col-xxxxl-10 offset-xxxxl-6">
                        <div class="card cardFeature wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="card-body">
                                <img class="card-icon" src="assets/img/icons/feature-2.svg" alt="">
                                <div class="card-text-box">Трафик может идти каждый день. Но&nbsp;без&nbsp;аналитики часть бюджета сгорает в&nbsp;никуда</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0">
                    <div class="col-md-12 offset-md-8 col-xxxxl-10 offset-xxxxl-10">
                        <div class="card cardFeature wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="card-body">
                                <img class="card-icon" src="assets/img/icons/feature-3.svg" alt="">
                                <div class="card-text-box">Соцсети превращаются в&nbsp;регулярный контент ради&nbsp;контента, если&nbsp;они&nbsp;не&nbsp;связаны с&nbsp;сайтом, оффером и&nbsp;воронкой</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0">
                    <div class="col-md-12 offset-md-12 col-xxxxl-10 offset-xxxxl-14">
                        <div class="card cardFeature wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="card-body">
                                <img class="card-icon" src="assets/img/icons/feature-4.svg" alt="">
                                <div class="card-text-box">Даже&nbsp;если делать всё&nbsp;сразу, без&nbsp;общей логики это&nbsp;остаётся набором разрозненных действий, а&nbsp;не&nbsp;системой роста</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>