<section class="section section-cloverFeatures">
    <div class="container-fluid">

        <div class="section__header">
            <h2 class="section__title wow img-custom-anim-left">Сайт, реклама и&nbsp;соцсети <span class="text-accent">должны усиливать друг друга</span></h2>
        </div>
        
        <div class="section__body">
            <div class="d-flex flex-column gap-1">
                <div class="row gx-0">
                    <div class="col-md-12 col-xxxxl-10">
                        <div class="card cardFeature wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.1s">
                            <div class="card-body">
                                <img class="card-icon" src="assets/img/icons/feature-1.svg" alt="">
                                <div class="card-text-box">Можно сделать очень красивый сайт, но если он не объясняет ценность и не ведёт к заявке — он так и останется просто красивым сайтом</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0">
                    <div class="col-md-12 offset-md-4 col-xxxxl-10 offset-xxxxl-6">
                        <div class="card cardFeature wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="card-body">
                                <img class="card-icon" src="assets/img/icons/feature-2.svg" alt="">
                                <div class="card-text-box">Трафик может идти каждый день, но без аналитики и улучшений часть рекламного бюджета просто сгорает впустую</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0">
                    <div class="col-md-12 offset-md-8 col-xxxxl-10 offset-xxxxl-10">
                        <div class="card cardFeature wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="card-body">
                                <img class="card-icon" src="assets/img/icons/feature-3.svg" alt="">
                                <div class="card-text-box">Можно набрать охваты, лайки и просмотры — и не получить ни одной заявки. Если контент не ведёт человека дальше, он работает сам на себя, а не на бизнес</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0">
                    <div class="col-md-12 offset-md-12 col-xxxxl-10 offset-xxxxl-14">
                        <div class="card cardFeature wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="card-body">
                                <img class="card-icon" src="assets/img/icons/feature-4.svg" alt="">
                                <div class="card-text-box">Когда сайт, рекламу и контент ведут разные подрядчики, каждый отвечает за своё, а общий результат теряется. Поэтому мы собрали всё в Систему Клевер, где инструменты работают друг на друга</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>